[
  {rabbit, [
    {tcp_listeners, [{"0.0.0.0", 5672}]},
    {tcp_listen_options, [
                          {backlog,       4096},
                          {nodelay,       true},
                          {linger,        {true,0}},
                          {exit_on_close, false},
                          {buffer,        1024},
                          {sndbuf,        1024},
                          {recbuf,        1024}
                         ]}
  ]},
  {rabbitmq_mqtt, [
    {tcp_listeners, [{"0.0.0.0", 1883}]},
    {tcp_listen_options, [
                          {backlog,       4096},
                          {nodelay,       true},
                          {linger,        {true,0}},
                          {exit_on_close, false},
                          {buffer,        1024},
                          {sndbuf,        1024},
                          {recbuf,        1024}
                         ]}
  ]}
].
